/**
 * POI Front End Template
 * v1.0
 */

body, html, .row-offcanvas {
    height:100%;
}

body {
    padding-top: 0px;
}

#sidebar {
    width: inherit;
    padding-top: 50px;
    min-width: 300px;
    max-width: 300px;
    background-color:#FFFFFF;
    border-right: 1px solid #cccccc;
    float: left;
    height:100%;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}

#main {
    height:100%;
    overflow:auto;
}

.btn-offcanvas{
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1000;
}

/* ======================= HEADER ======================= */
.navbar-default {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(220, 220, 220);
    border: 0px;
    background: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    font-family: Oswald;
}

.navbar-brand {
    /* padding: 10px 0 0 13px; */
}

.navbar-brand img {
    height: 29px;
    margin-top: -6px
}

#form-search-route input{
    width: 400px;
}

@media (min-width: 768px) and (max-width: 992px) {
    #form-search-route input{
        width: 300px;
    }
}

@media (max-width: 768px) {
    #form-search-route{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 3px;
        padding-bottom: 3.8px;
    }

    #form-search-route input{
        width: 100%;
    }
}

/* ======================= Off canvas sidebar ======================= */
@media screen and (max-width: 767px) {
    body {
        overflow-x:hidden;
        padding-top: 50px;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width:calc(100% + 300px);
    }

    .row-offcanvas-left{
        left: -300px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    body {
        overflow-x:hidden;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width:calc(100% + 300px);
    }

    .row-offcanvas.active {
        width: 100%;
    }

    .row-offcanvas-left{
        left: -300px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }
}

/* ======================= FOOTER ======================= */
.footer {
    padding: 7px 0px;
    line-height: normal;
    font-size: 9pt;
    color: #000;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.3);
    font-family: Raleway;
}

.footer a {
    color: #000;
}

.footer ul {
    padding: 0px;
    margin: 0px;
}

.footer ul li {
    margin: 0px;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

.footer ul li:FIRST-CHILD {
    padding-left: 0px;
}

/* ############### Loader ############### */
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 0 auto 52px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #F0AB49;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #F0AB49;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #F0AB49;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #F0AB49;
  }
}

/* ======================= SELECTION ======================= */
::selection {
    background: #26c368;
    color: #fff;
    text-shadow: none;
    color: #fff;
}

::-moz-selection {
    background: #26c368;
    color: white;
    text-shadow: none;
}