body {
	padding-bottom: 70px; 
}

.logo{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 20px;
}

.login-title{
	text-align: center; 
	font-size: 20pt; 
	margin-bottom: 10px;
	font-family: Oswald;
}

.content-login { 
	border: 1px solid #ccc;
	border-radius: 6px;
	margin: 0 auto;
	width: 370px;
	padding: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.content-login { 
		width: 300px;
		padding: 7px;
	}
	
	.login-title{
		font-size: 18pt;
	}
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 17px;
	height: 38px;
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

footer{
	font-family: Raleway, Arial;
	text-align: center;
	margin-top: 20px;
	font-size: 13pt;
}

footer .copyright{
	font-size: 10pt;
}

/* ======================= Validation ======================= */
span.error{
	font-weight: 300;
	color: rgb(169, 68, 66);
}

